In [1]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np

In [2]:
members = pd.read_csv('../data/NSS_GreatCare_Members.csv', low_memory=False)
inpatient = pd.read_csv('../data/NSS_Hospital_Inpatient_Admissions.csv', low_memory=False)
pcp_visits = pd.read_csv('../data/NSS_PrimaryCare_Office_Visits.csv', low_memory=False)

In [ ]:
members.info()

In [3]:
members1 = members[['Patient ID', 'Primary Plan ID']]

In [4]:
members1.head()

  Patient ID Primary Plan ID
0      DS1|1       DS1|5047W
1     DS1|10       DS1|5047W
2    DS1|100       DS1|5047W
3   DS1|1000       DS1|5047W
4  DS1|10000       DS1|5047W

In [9]:
inpatient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6213 entries, 0 to 6212
Data columns (total 23 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Encounter ID                                         6213 non-null   object
 1   Patient ID                                           6213 non-null   object
 2   Encounter Primary Payor ID                           6213 non-null   object
 3   Encounter Primary Plan ID                            6213 non-null   object
 4   Facility Provider ID                                 6213 non-null   object
 5   Attending Provider ID                                5884 non-null   object
 6   Attending Provider NPI                               5884 non-null   float64
 7   Facility Provider NPI                                6213 non-null   object
 8   Encounter Start Date                                 6213 non-null   object
 9   Encounter End Date                                   6213 non-null   object
 10  Is Emergency Department Visit Parent Encounter       6213 non-null   int64
 11  Is Observation Stay Parent Encounter                 6213 non-null   int64
 12  CMS Admit Type Code                                  6196 non-null   float64
 13  CMS Admit Source Code                                6027 non-null   object
 14  CMS Patient Discharge Status Code                    6213 non-null   int64
 15  CMS Place of Service Code                            5378 non-null   float64
 16  Principal Discharge Diagnosis ICD-9-CM Code          1620 non-null   object
 17  Principal Discharge Diagnosis ICD-9-CM Description   1601 non-null   object
 18  Principal Discharge Diagnosis ICD-10-CM Code         4577 non-null   object
 19  Principal Discharge Diagnosis ICD-10-CM Description  4522 non-null   object
 20  Primary Plan Allowed Amount                          6213 non-null   int64
 21  Primary Plan Paid Amount                             6213 non-null   float64
 22  Patient Paid Amount                                  6213 non-null   float64
dtypes: float64(5), int64(4), object(14)
memory usage: 1.1+ MB

In [5]:
inpatient1=inpatient[['Encounter ID', 'Patient ID', 'Facility Provider NPI', 'Encounter Start Date', 'Encounter End Date']]

In [6]:
inpatient1.head()

,Encounter ID,Patient ID,Facility Provider NPI,Encounter Start Date,Encounter End Date
0,HIA|DS1|10033|DS1|NPI|1306890389|1,DS1|10033,1306890389,2013-01-12,2013-01-14
1,HIA|DS1|10043|DS1|NPI|1902803315|1,DS1|10043,1902803315,2014-01-05,2014-01-12
2,HIA|DS1|10073|DS1|NPI|1902803315|1,DS1|10073,1902803315,2012-06-13,2012-06-21
3,HIA|DS1|10101|DS1|NPI|1427055839|1,DS1|10101,1427055839,2012-12-06,2012-12-09
4,HIA|DS1|10118|DS1|NPI|1992818256|1,DS1|10118,1992818256,2015-03-11,2015-03-14

In [ ]:
pcp_visits.info()

In [7]:
pcp_visits1=pcp_visits[['Encounter ID', 'Patient ID', 'Encounter Date']]

In [8]:
pcp_visits1.head()

                                   Encounter ID Patient ID Encounter Date
0  COV|EE|DS1|10076|20110225|DS1|NPI|1487856779  DS1|10076     2011-02-18
1  COV|EE|DS1|10088|20140222|DS1|NPI|1528030996  DS1|10088     2014-02-22
2  COV|EE|DS1|10165|20140907|DS1|NPI|1477579365  DS1|10165     2014-08-31
3  COV|EE|DS1|10240|20130624|DS1|NPI|1821178088  DS1|10240     2013-06-17
4  COV|EE|DS1|10293|20160904|DS1|NPI|1609004191  DS1|10293     2016-09-04

In [ ]:
#to show all the rows:
#pd.set_option('display.max_columns', None)